<%- include("templates/header") %> 
<form action="new_group" method="post">
  <input type="text" placeholder="Enter the group name" name="group_name">
  <button>Submit</button>
</form>
<%- include("templates/footer") %> 