<%- include("templates/header") %> 
  <p> Hello <%= name %></p>
  <a href="groups"><button>Look at your groups</button></a>
  <a href="logout"><button>Logout</button></a>
<%- include("templates/footer") %> 