<%- include("templates/header") %> 
  <p> Hello <%= name %></p>
  <a href="members"><button>Go to members area!</button></a>
  <a href="logout"><button>Logout</button></a>
<%- include("templates/footer") %> 