<%- include("templates/header") %> 
<form action="/invite_person/<%= group_id %>/<%= room_user_id %>" method="post">
  <input type="text" placeholder="Enter user id of the person you want to invite" name="user_id">
  <button>Submit</button>
</form>
<%- include("templates/footer") %>