<div class = "message_bubble">
  <div class="message_info">
  <p class="username"><%= username %></p>
  <p><%= timestamp %></p>
  </div>
  <div class="message_text">
    <p><%= text %></p>
  </div>
</div>